body {
  width: 100vw;
  height: 200vw;
  background-color: #e68989;
}
body {
  cursor: url(../images/hover.png), auto;
}
.challange1 {
  position: relative;
  width: 100vw;
  height: 30vw;
  overflow: hidden;
  background-color: #f1d66c;
}
.circle1 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  background-color: rgb(248, 130, 178);
  border-radius: 50vw;
  animation: bounce1 20s linear infinite;
}
.circle2 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  background-color: rgb(228, 148, 105);
  border-radius: 50vw;
  animation: bounce2 30s linear infinite;
}
.svg-container {
  position: relative;
  width: 100vw;
  height: 60vw;
  overflow: hidden;
  background-color: #cda8e1;
}
